# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Environment Variables
.env

# Streamlit
.streamlit/

# Outputs
outputs/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db